# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Flask
instance/

# ML / models
saved_models/
ml/artifacts/

# VS Code
.vscode/

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# OS
.DS_Store