# Python
venv/
__pycache__/
*.pyc
.env

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# OS
.DS_Store

# ===== ML artifacts =====
backend/ml/artifacts/
backend/saved_models/

# ===== VS Code =====
.vscode/

# ===== Python =====
__pycache__/
*.pyc

# ===== Flutter =====
build/
.dart_tool/
